//- logs.pug
extends layout

block content
    h1 #{message}

    div.form-group
        table
            th LID
            th Timestamp
            th Machine
            th Tag
            th Event
            th Remarks
            th
                a(href='/log_edit')= 'Add'
            each log in logs
                tr
                    td #{log.lid}
                    td #{log.timestamp} 
                    td #{log.machine}
                    td #{log.tag}
                    td #{log.event}
                    td #{log.remarks}
                    td
                        a(href='/log_edit?lid=' + log.lid)= 'Edit'
