//- machines.pug
extends layout

block content
    h1 #{message}

    div.form-group
        table
            th MID
            th Name
            th Config
            th
                a(href='/machine_edit')= 'Add'
            each machine in machines
                tr
                    td #{machine.mid}
                    td #{machine.name}
                    td #{machine.config}
                    td
                        a(href='/machine_edit?mid=' + machine.mid)= 'Edit'
                    