//- machine_edit.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/machine_edit' + (undefined===machine ? '' : '?mid=' + machine.mid))
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' autofocus value=(undefined===machine ? NULL : machine.name))
        div.form-group
            label(for='config') Config:
            input#config.form-control(type='text', name='config' value=(undefined===machine ? '' : machine.config))
        div.form-group
            label(for='price') Price:
            input#price.form-control(type='text', name='price' value=(undefined===machine ? '' : machine.price))
        div.form-group
            label(for='period') Period:
            input#period.form-control(type='text', name='period' value=(undefined===machine ? '' : machine.period))
        div.form-group
            label(for='uid') Units:
            select#tag.form-control(name='uid')
                option(value=0) bitte auswählen
                -if (units!=undefined)
                    each unit in units
                        -if (undefined===machine)
                            option(value=unit.uid) #{unit.name}
                        -else
                            option(value=unit.uid selected=(unit.uid==machine.uid)) #{unit.name}
        div.form-group
            label(for='min_periods') Min. Periods:
            input#min_periods.form-control(type='text', name='min_periods' value=(undefined===machine ? '' : machine.min_periods))
        div.form-group
            label(for='minp_price') Minp. Price:
            input#minp_price.form-control(type='text', name='minp_price' value=(undefined===machine ? '' : machine.minp_price))
        div.form-group
            label(for='offdelay') Offdelay:
            input#offdelay.form-control(type='text', name='offdelay' value=(undefined===machine ? '' : machine.offdelay))
        div.form-group
            label(for='watchdog') Watchdog:
            input#watchdog.form-control(type='text', name='watchdog' value=(undefined===machine ? '' : machine.watchdog))
        div.form-group
            button.btn.btn-primary(type='submit') Save
