//- rights.pug
extends layout

block content
    h1 #{message}

    div.form-group
        table
            th RID
            th Tag
            th Machine
            th Start
            th End
            th
                a(href='/right_edit')= 'Add'
            each right in rights
                tr
                    td #{right.rid}
                    td #{right.tid} 
                    td #{right.mid}
                    td #{right.start}
                    td #{right.end}
                    td
                        a(href='/right_edit?tid=' + right.rid)= 'Edit'
