//- tag_summary.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/tag_summary')
        div.form-group
            label(for='uid') Card ID:
            input#tid.form-control(type='text', name='uid' autofocus onFocus='this.setSelectionRange(0, this.value.length)' value=(undefined===tag ? '' : tag.uid))
            button.btn.btn-primary(class='behind' type='submit') Search

        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' value=(undefined===tag ? '' : tag.name) disabled="disabled")


    form(method='POST' action='/tag_summary?task=invoice')
        div.form-group
            table
                th Timestamp
                th Machine
                th Event
                th Remarks
                each log in logs
                    tr
                        td #{log.timestamp}
                        td #{log.machine} 
                        td #{log.event}
                        td #{log.remarks}
                        
            button.btn.btn-primary(type='submit') Invoice

